h1{
    text-align: center;
}
div{
    border: 5px solid white;
  }
.verde{
    background-color: green;
    height: 80px;
}

.rosa{
      background-color: violet;
      height: 80px;
}
.naranja{
      background-color: orange;
      height: 200px;
}
.azul{
      background-color: blue;
      height: 80px;
}