h1 {
    text-align: center;
}
table {
    text-align: center;
}
.m10
{
    background-color: red
}
.Tut
{
    background-color:rgb(198, 135, 235);
}
.m08
{
    background-color:greenyellow;
}
.m07
{
    background-color:rgb(0, 255, 106);
}
.m06
{
    background-color:skyblue;
}
.m04
{
    background-color: firebrick;
}
.Descanso
{
    background-color:green;
}
.hora 
{
    background-color:rgb(0, 162, 255); 
}
.or22
{
    font-style: italic;
}
