body{
    background-image: url(../imagenes/csgo.png) ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
   min-height: 1800px
}


img{
    height: 800px;
    width: 800px;
}


h1{
    text-align: center;
    color: orange;
    font-size: 75px;
    height: 100%;
    width: 100%;
}

p{
    color:white;
    text-align: center;
   
}
h3{
    text-align: center;
    color: orange;
    font-size: 50px;
    height: 100%;
    width: 100%;
}
h5{
    color: blue;
    text-align: center;
}
.girar{
    transform: rotate(25deg);
    margin-top: 200px
}
