table, td, th{
    border:  1px solid black;
    border-collapse: collapse;
}
img{
    height: 200px;
    width: 200px;
}
#container{
   margin-left: auto;
   margin-right: auto;
}
#img1{
    
    border-radius: 10px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    transform:scale(1);
          
}      

#img1:hover{
    transform:scale(0.8);
    -ms-transform:scale(0.8); // IE 9 
    -moz-transform:scale(0.8); // Firefox 
    -webkit-transform:scale(0.8); // Safari and Chrome 
    -o-transform:scale(0.8); // Opera
}
.container2 {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 20px;
  }
  .div-img2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .div-img2.hidden2 {
    overflow: hidden;
  }
  .div-img2 .img2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
  }
  .div-img2 .text2 {
    font-family: 'Open Sans';
    position: relative;
    z-index: -1;
    display: block;
    bottom: 20px;
    width: 100%;
    text-align: center;
  }
  .div-img2:hover .img2 {
    transform: translate(0px, -100px);
    -ms-transform: translate(0px, -100px);
    -moz-transform: translate(0px, -100px);
    -webkit-transform: translate(0px, -100px);
    -o-transform: translate(0px, -100px);
  }


  .div-img3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
  }
  .div-img3.hidden {
    overflow: hidden;absolute
  }
  .div-img3 .img3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 400px;
    transition: margin 1s ease;
  }
  .div-img3:hover .img3 {
    margin-top: -200px;
  }
  .transition {
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
  }
  
  .div-img4 {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .div-img4 .img4 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    -webkit-transform: 0px 0px 1;
    -moz-transform: 0px 0px 1;
    -ms-transform: 0px 0px 1;
    -o-transform: 0px 0px 1;
    transform: 0px 0px 1;
    transform: translate(0px, 0px) scale(1);
    -webkit-transform: translate(0px, 0px) scale(1);
    -moz-transform: translate(0px, 0px) scale(1);
    -o-transform: translate(0px, 0px) scale(1);
    -ms-transform: translate(0px, 0px) scale(1);
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
  }
  .div-img4 .text4 {
    font-family: 'Open Sans';
    position: relative;
    z-index: -1;
    display: block;
    bottom: 20px;
    width: 100%;
    text-align: center;
    -webkit-transform: 0px 0px 1;
    -moz-transform: 0px 0px 1;
    -ms-transform: 0px 0px 1;
    -o-transform: 0px 0px 1;
    transform: 0px 0px 1;
    transform: translate(0px, 0px) scale(1);
    -webkit-transform: translate(0px, 0px) scale(1);
    -moz-transform: translate(0px, 0px) scale(1);
    -o-transform: translate(0px, 0px) scale(1);
    -ms-transform: translate(0px, 0px) scale(1);
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
  }
  .div-img4:hover .img4 {
    -webkit-transform: 0px -30px 0.5;
    -moz-transform: 0px -30px 0.5;
    -ms-transform: 0px -30px 0.5;
    -o-transform: 0px -30px 0.5;
    transform: 0px -30px 0.5;
    transform: translate(0px, -30px) scale(0.5);
    -webkit-transform: translate(0px, -30px) scale(0.5);
    -moz-transform: translate(0px, -30px) scale(0.5);
    -o-transform: translate(0px, -30px) scale(0.5);
    -ms-transform: translate(0px, -30px) scale(0.5);
    border-radius: 50%;
  }
  .div-img4:hover .text4 {
    -webkit-transform: 0px 0px 2;
    -moz-transform: 0px 0px 2;
    -ms-transform: 0px 0px 2;
    -o-transform: 0px 0px 2;
    transform: 0px 0px 2;
    transform: translate(0px, 0px) scale(2);
    -webkit-transform: translate(0px, 0px) scale(2);
    -moz-transform: translate(0px, 0px) scale(2);
    -o-transform: translate(0px, 0px) scale(2);
    -ms-transform: translate(0px, 0px) scale(2);
  }
  
  